<!DOCTYPE HTML>
<html>
  <head>
    <title>Invoice {{ invoiceNumber }}</title>
  </head>
  <body>
    <header>
      <h1>{{ business.name }}</h1>
      <p class="address">
        {{ business.address.addressLine1 }}, {{ business.address.city }}<br>
        {{ business.address.province.name }} {{ business.address.postalCode }}<br>
        {{ business.phone }}
      </p>
    </header>
    
    <main>
      <h1>Invoice {{ invoiceNumber }}</h1>
      <p class="date">{{ invoiceDate }}</p>
      
      <section class="client">
        <h1>Client</h1>
        <p class="address">
          {{ customer.name }}<br>
          {{ customer.address.addressLine1 }}, {{ customer.address.city }}<br>
          {{ customer.address.province.name }} {{ customer.address.postalCode }}<br>
          {{ customer.phone }} {{ customer.email }}
        </p>
      </section>
      
      <section class="lines">
        <table>
          <tbody>
            {{# items }}
              <tr>
                <td>
                  <div class="product">{{ product.name }}</div>
                  <div class="description">{{ description }}</div>
                </td>
                <td>{{ subtotal.formatted }}</td>
              </tr>
            {{/ lines }}
          </tbody>
          <tfoot>
            <tr>
              <td>Subtotal</td>
              <td>{{ subtotal.formatted }}</td>
            </tr>
            {{# taxes }}
              <tr>
                <td>
                  {{ salesTax.name }} – {{ salesTax.percent }}%
                  <span class="tax-number">{{ salesTax.taxNumber }}</span>
                </td>
                <td>{{ amount.formatted }}</td>
              </tr>
            {{/ taxes }}
            <tr>
              <td>Total</td>
              <td>{{ total.formatted }}</td>
            </tr>
          </tfoot>
        </table>
      </section>
    </main>
  </body>
</html>
